*{
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.media-stats{
  display: flex;
  flex-direction:column;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -40%);

  
}
.media-stats > .heading{
  color: green;
}
#code-block{
color:white;
background-color: black;
}

#copy-button {
  position: absolute;
  top: 60%;
  right: 1vw;
  padding: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
}
